body{
  margin: 0px;
}
section{
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
.top-site-section{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 150px;
  padding-top: 25px;
  background-image: url(donation7.jpg);
  background-repeat: no-repeat;
  background-size: 1400px 650px;
}
.top-site-h1{ 
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 80px;
  padding-bottom: 0px;
}
.top-site-p{
  text-align: center;
  font-size: 25px;
  margin: 35px;
  color: white;
}
.top-site-link{
  color: white;
  text-decoration: none;
  background-color: tomato;
  border-radius: 5px;
  padding: 13px;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 50px;
}
.second-site-h1{
  font-size: 40px;
  text-align: center;
}
.second-site-p-1{
  text-align: center;
  color: gray;
}
.second-site-h2{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
.second-site-h2-2{
  color: tomato;
  border: 2px solid;
  padding: 27px 15px;
  background-color: rgb(255, 216, 210);
}
.second-site-h2-1{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.second-site-h2-3{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.second-site-h2-4{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.second-site-h2-5{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.second-site-p-2{
  color: lightgray;
  text-align: center;
}
.second-site-div-2{
  text-align: center;
}
.second-site-link{
  color: white;
  text-decoration: none;
  background-color: tomato;
  border-radius: 5px;
  padding: 13px;
  padding-left: 19px;
  padding-right: 19px;
}
hr{
  margin-bottom: 35px;
}
.third-site-div-1{
  margin-top: 100px;
  text-align: center;
}
.third-site-h1{
  font-size: 40px;
  font-weight: 900;
}
.third-site-p-1{
  color: gray;
  font-size: 21px;
  padding-left: 300px;
  padding-right: 300px;
}
.third-site-div{
  display: flex;
 margin-bottom: 150px;
}
.third-site-div-2{
  background-image: url(food.png);
  background-repeat: no-repeat;
  background-position: 5% 20%;
  background-color: rgb(232, 255, 253);
  margin-left: 120px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  
}
.third-site-h2{
  font-size: 25px;
  margin-top: 75px;
  
}
.third-site-div-3{
  background-image: url(shelter.png);
  background-repeat: no-repeat;
  background-position: 7% 20%;
  background-color: rgb(253, 236, 236);
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 35px;
  border-radius: 10px;
  margin-left: 25px;
}
.third-site-div-4{
  background-image: url(Frame-1.png);
  background-repeat: no-repeat;
  background-position: 7% 20%;
  background-color: rgb(255, 242, 215);
  margin-right: 120px;
  margin-left: 25PX;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 35px;
  border-radius: 10px;
}
footer{
  color: lightgray;
  background-color: black;
  padding: 30px;
  text-align: center;
}
.footer-h1{
  
  color: tomato;
}