body{
  margin: 0px;
}
section{
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
.top-site-section{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 210px;
  padding-top: 150px;
  background-image: url(donation7.jpg);
  background-repeat: no-repeat;
  background-size: 1400px 650px;
}
.top-site-h1{ 
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 100px;
}
.top-site-p{
  text-align: center;
  font-size: 22px;
  margin: 35px;
  color: white;
}
.top-site-link{
  color: white;
  text-decoration: none;
  background-color: tomato;
  border-radius: 5px;
  padding: 13px;
  padding-left: 19px;
  padding-right: 19px;
  margin-top: 50px;
}
.ditio-site-h1{
  font-size: 40px;
  text-align: center;
}
.ditio-site-p-1{
  text-align: center;
  color: gray;
}
.ditio-site-h2{
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
.ditio-site-h2-2{
  color: tomato;
  border: 2px solid;
  padding: 27px 15px;
  background-color: rgb(255, 216, 210);
}
.ditio-site-h2-1{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.ditio-site-h2-3{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.ditio-site-h2-4{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.ditio-site-h2-5{
  border: 2px ;
  background-color: rgb(245, 245, 245);
  padding: 27px 15px;
}
.ditio-site-p-2{
  color: lightgray;
  text-align: center;
}